.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-video {
    position: fixed;
    z-index: -2; 
}

.video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &::before{
        display: inline-block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.222);
        backdrop-filter: blur(.3rem);
        position: absolute;
        z-index: -1;
    }
}

.content-main{
    z-index: 1;
}

.start-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-page{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .header{
        user-select: none;
        width: 100%;
        height: 100px;
        padding: .5rem;
        display: flex;
        justify-content: space-between;
    }
    & .header .logo{
        width: 200px;
        transition: .5s all ease-in-out;
        &:hover{
            transform: scale(1.03);
        }
        & img{
            width: 100%;
        }
    }

    & .game-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

.difficulty{
    display: flex;
    gap: 1rem;
}
