@mixin modal-content($texto){
    width: 100%;
    text-align: center;
    font-size: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & span{
        font-size: 1.2em;
        color: bisque;
        text-transform:uppercase;
        
        &::before{
            content: $texto;
            position: absolute;
            filter: blur(2px);
            transition: .5s all ease-in-out;
        }
        &:hover::before{
            filter: blur(10px);
        }
    }

    & .image{
        width: 50%;
        max-width: 20rem;
    }
    & .image img{
        width: 100%;
    }
}