.card{
    position: relative;
    width: 220px;
    height: 340px;
    box-shadow: 20px 20px 50px rgba(0,0,0, .5);
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    
    & .card-content{
        text-align: center;
        transform: translateY(100px);
        opacity: 0;
        transition: 0.5s;
    }

    &:hover .card-content{
        transform: translateY(0px);
        opacity: 1;
    }

    & img{
        width: 100%;
    }

    &:hover{
        border: 2px solid brown;
    }
}